@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #232323;
    --cor-terciaria: #8080ffff;
    --cor-quartenaria: #0066ffff;
}

* {
    font-family: 'Montserrat', sans-serif;
}


.laboratorio {
    width: 100%;
    background: url('../img/fundosobre.jpg') center top no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 470px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cor h1 {
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px black;
}

.info {
    /* margin: 0px 20px 0px 20px; */


    justify-content: center;
    align-items: center;
}

.info .aboutUs {
    width: 100%;
    margin: 30px 0px 20px 0px;
}

.info .aboutUs h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 15px;
}

.aboutUs__p {
    
        width: 100%;
        display: flex;
        justify-content: center;

}
.aboutUs__p p{
    font-size: 23px;
    color: #232323;
    width: 70%;
}

/*
Missão  Visão e Valores
*/

.mvv {
    margin: 70px 0px;
    display: flex;
    justify-content: space-around;
}


.missao, .visao, .valores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    box-shadow: 0px 0px 30px var(--cor-secundaria);
    width: 25%;
    padding: 20px 0px;
    transition-duration: 1s;
    border: 3px solid var(--cor-secundaria);
}

.mvv div:hover {
    transition-duration: 1s;
    transform: scale(1.1);
    box-shadow: 0px 0px 80px var(--cor-secundaria);
    color: white;
    background-color: var(--cor-secundaria);
}
.mvv div:nth-child(odd):hover {
    transform: scale(0.9);
}
.mvv img {
    width: 30%;
}
.mvv .missao:hover img {
    content: url('../img/missaoH.png');
}
.mvv .visao:hover img {
    content: url('../img/visaoH.png');
}
.mvv .valores:hover img {
    content: url('../img/valorH.png');
}
.mvv div:nth-child(odd) {
    transform: scale(0.8);
}




.mvv .titulo_mvv {
    margin-bottom: 20px;
}


.mvv .txt_mvv {
    width: 70%;
    font-size: 1em;
    text-align: center;
}

.mvv .visao .txt_mvv {
    text-align: justify;
    width: 71%;
}

.cardsTeam {
    text-align: center;
    width: 90%;
    margin: auto;
}
#Team {
    padding-top: 11px;
    background-color: #3b3d3d;
}

#Team h1.title {
    text-align: center;
    font-size: 48px;
    color: #FFF;
    margin: 20px 15px;
}

.cardsTeam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: auto;
}

.card {
    margin: 25px 10px;
    height: 455px;

    background-color:#666666;
}

.card img {
    width: 55%;
    margin-top: 20px;
    border-radius: 360px;
}

.card h1 {
    text-transform: uppercase;
    margin: 10px auto 10px auto;

    color: black;
}

.card a i {
    font-size: 35px;
    letter-spacing: 10px;

    margin-top: 5px;
}

.card i{
    color: #f2f2f2;
}

@media (max-width: 1724px) {
    .mvv h3 {
        
    }
}
