@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}

.showcase-conteudo {
    width: 100%;
    max-height: 1200px;
}

.container {
    width: 100%;
    max-height: 1200px;
}

#container__spn-titulo {
    float: left;
    margin-left: 500px;
    font-size: 30px;
    width: 100%;
}

#container__div-titulo {
    width: 60%;
    height: 40px;
}

#container__div-pesquisa {
    width: 87%;
    margin-top: 50px;
    margin-left: 156px;
}

#container__div-pesquisa span {
    font-weight: bold;
    font-size: 22px;
}

#div-pesquisa__inp-nomeComp {
    width: 170px;
    height: 24px;
}

.div-pesquisa__btn {
    width: 84px;
    height: 30px;
    background-color: #0b44b5;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.div-pesquisa__btn:hover {
    background-color: #1053da;
}

#div-pesquisa__btn-voltar {
    display: none;
    margin: 5vh;
}


/* ------------------------- GRÁFICOS -------------------------- */
.container-graficos {
    width: 99%;
    height: 300px;
    display: flex;
    border: rgb(163, 163, 163) 1px solid;

    margin: 100px 0 40px 7px;
    justify-content: space-around;
    align-items: center;
}

.container-graficos__div-configuracao {
    background-color: white;
    border: rgb(51, 51, 51) 1px solid;
    height: 250px;
    width: 18%;
    border-radius: 10px;
}

.div-configuracao__span-uso {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.txt_informations {
    color: green;justify-content:center; 
    display:flex; 
    font-size: 40px; 
    text-transform: uppercase
}

#container-graficos__div-disponibilidade {
    width: 18%;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-graficos__div-usoDisco {
    width: 18%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-graficos__div-usoCpu {
    width: 19%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-graficos__div-usoRam {
    width: 18%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-graficos__div-uptime {
    width: 18%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-graficos__div-mediaCpu {
    width: 95%;
    height: 280px;
}

#container-graficos__div-tempCpu {
    width: 95%;
    height: 280px;
    float: right;
}

.container-graficos-trabalhados {
    width: 99%;
    height: 500px;
    display: flex;
    border: rgb(163, 163, 163) 1px solid;
    margin: 100px 0 40px 7px;
    padding-top: 50px;
}

/* ------------------ Lista de Máquinas ------------------- */
.container__div-lista {
    height: min-content;
    max-height: 80vh;
    width: 80%;
    background-color: white;
    margin: 30px auto;
    overflow-y: scroll;
    min-width: 300px;
    margin-bottom: 90px;
}

.div-lista__table-listaMaquinas {
    border-collapse: collapse;
    border-spacing: 5px;
    width: 100%;
    margin: 0 auto;
}

th {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0;
    width: 10px !important;
}

td,
th {
    padding: 8px;
    border: 2px solid black;
}

tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media (max-width: 868px) {
    .machines__reports__selectors {
        flex-direction: column;
        justify-content: space-around;
        height: 7vh;
    }
}