@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

.menu{
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: rgb(206, 206, 206) 1px solid;
}

ul{
    float: left;
}

.menu ul li{
    list-style: none;
    display: flex;
    display: inline-block;
    padding: 10px;
    position: relative;
    height: 35px;
    width: 120px;
    text-align: center;
}

li ul{
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    padding-left: 0px;
    text-align: center;
    display: none;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li ul li{
    width: 85%;
}

ul li:hover{
    
    background-color: rgb(238, 238, 238);
}

li:hover ul {
    display: block;
    
}

a{
    text-decoration: none;
    color: black;
    display: block;
}

#header__logo{
    width: 100px;
    float: left;
    margin: 6px 86px 0px 28px;
    cursor: pointer;
}

#header__profile{
    font-size: 50px;
    float: right;
    margin: 10px 23px 0px 0px;
    cursor: pointer;
    color: grey;
    padding: 3px;
    margin-top: 5px;
}

/* Modal */
.bg-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
    top: 80px;
    
}

.modal{
    width: 330px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    float: right ;
    margin: 10px 1.5% 0px 0px;
    transition: 350ms;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: rgb(206, 206, 206) 0.5px solid;
}

#profile__modal{
    text-align: center;
    padding-top: 10px;
}

#profile__modal .fa-user-circle{
    font-size: 100px;
    color: grey;
    margin-bottom: 15px;
    
}

#modal__spn-nome{
    font-size: 18px;
    
}

#modal__spn-email{
    font-size: 16px;
    margin-top: 20px;
    color: grey;
}

#modal__btn-config{
    background-color: white;
    width: 200px;
    height: 35px;
    border: rgb(221, 221, 221) 0.3px solid;
    border-radius: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

#modal__div-linha{
    width: 100%;
    height: 0.5px;
    background-color: rgb(189, 189, 189);
    margin-bottom: 20px;
}

#modal__btn-sair{
    background-color: white;
    width: 60px;
    height: 35px;
    border: rgb(221, 221, 221) 0.3px solid;
    border-radius: 5px;
    cursor: pointer;
}

#modal__btn-config:hover, #modal__btn-sair:hover{
    background-color: rgb(237, 237, 237);
}
