:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #1B2431;
    --cor-terciaria: #016795;
    --cor-quartenaria: #1E488F;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.laboratorio {
    width: 100%;
    background: url('../Logos/Logo-DotControlTec.png') center top no-repeat;
    background-size: 45%;
    height: 380px;
    margin-top: 30px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 97%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.infoProject {
    width: 100%;
    height: 465px;
    padding-top: 200px;
    background: url(../img/escritorio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.project1 {
    padding-top: 50px;
}

.project1 h1 {
    color: white;
    font-size: 60px;
}

#controltec h1 {
    text-align: center;
    font-size: 48px;
    width: 100%;

    background-color: var(--cor-terciaria);
    color: #ffffff;

    margin-top: 20px;
}

.cards img {
    width: 400px;
    margin-top: 50px;
}

.cards {
    text-align: center;
    width: 90%;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: auto;
    margin: -5% auto;
}

.card {
    margin: 77px 10px;
    height: 320px;
}

.g-1 p {
    margin: 70px 10px;
    text-align: justify;
    font-size: 20px;
}


#controltecVantagens h1 {
    text-align: center;
    font-size: 48px;

    /* border-bottom: solid 5px black; */
    background-color: var(--cor-terciaria);
    width: 100%;


    color: #ffffff;
    /* text-shadow: 2px 2px 2px var(--cor-secundaria); */
}

#controltecVantagens h2 {
    text-align: center;
    font-size: 30px;

    color: black;
}

.cardsv {
    text-align: center;
    width: 90%;
    margin: auto;
}

.cardsv {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: auto;
    margin: 4% auto;
}

.card {
    margin: 77px 10px;
    height: 320px;
}

.cardv p {
    margin-top: 5%;
    text-align: justify;
    font-size: 20px;

    font-weight: 500;
}

.cardvText p {
    margin-top: 6%;
    text-align: justify;
    font-size: 20px;

    font-weight: 500;
}

lottie-player {
    margin-left: 110px;
}

.time {
    margin-left: 177px;
}

/* .infoProject4 {
    width: 100%;
    height: 400px;
    background: url(../img/tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.infoProject4 {
    color: white;
}

.project4 {
    text-align: center;
    width: 90%;
    margin: auto;
}

#vantagens h1.title {
    text-align: center;
    font-size: 38px;
    padding-top: 16px;
    color: white;
    text-shadow: 2px 2px black;
    margin: 0 auto 15px auto;
}

.project4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: auto;
    list-style: none;
}

.CardVant {
    margin: 25px 10px;
    height: 260px;

    background-color: rgba(53, 53, 53, 0.514);
    text-shadow: 2px 2px black;
}

.CardVant h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.CardVant li i {
    margin: 20px 0px 20px 0px;
}

.fa-rocket::before {
    font-size: 75px;
    color: var(--cor-quartenaria);
}

.fa-sliders-h::before {
    font-size: 75px;
    color: var(--cor-quartenaria);
}

.fa-bullseye::before {
    font-size: 75px;
    color: var(--cor-quartenaria);
} */


/* .infoProject4 h1 {
    padding: 41px;
    font-size: 47px;
    text-align: center;
}

.infoProject4 ul {
    margin-top: 60px;
    display: flex;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.infoProject4 p {}

.infoProject4 {
    justify-content: center;
} */