:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #232323;
    --cor-terciaria: #8080ffff;
    --cor-quartenaria: #0066ffff;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.laboratorio {
    width: 100%;
    background: url('../Logos/Logo-DotControlTec.png') center top no-repeat;
    background-size: 45%;
    height: 380px;
    margin-top: 30px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 97%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.infoProject {
    width: 100%;
    height: 458px;
    padding-top: 200px;
    background: url(../img/escritorio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.project1 {
    padding-top: 50px;
}

.project1 h1 {
    color: white;
    font-size: 60px;
}

.infoProject2 {
    width: 100%;
    height: 390px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.project2 {
    width: 50%;
}

.project2 h1 {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #232323;
}

.project2 p {
    font-size: 23px;
    text-align: left;
    color: #232323;
}



.infoProject4 {
    width: 100%;
    height: 400px;
    background: url(../img/tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.infoProject4 {
    color: white;
}

.project4 {
    text-align: center;
    width: 90%;
    margin: auto;
}

#vantagens h1.title {
    text-align: center;
    font-size: 48px;
    padding-top: 16px;
    color: white;
    text-shadow: 2px 2px black;
    margin: 0 auto 15px auto;
}

.project4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: auto;
    list-style: none;
}

.CardVant {
    margin: 25px 10px;
    height: 260px;

    background-color: rgba(53, 53, 53, 0.514);
    text-shadow: 2px 2px black;
}

.CardVant h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.CardVant li i {
    margin: 20px 0px 20px 0px;
}

.fa-rocket::before {
    font-size: 75px;
    color: var(--cor-quartenaria);
}

.fa-sliders-h::before {
    font-size: 75px;
    color: var(--cor-quartenaria);
}

.fa-bullseye::before {
    font-size: 75px;
    color: var(--cor-quartenaria);
}


/* .infoProject4 h1 {
    padding: 41px;
    font-size: 47px;
    text-align: center;
}

.infoProject4 ul {
    margin-top: 60px;
    display: flex;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.infoProject4 p {}

.infoProject4 {
    justify-content: center;
} */