:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #1B2431;
    --cor-secundaria-rgba: #1b2431b2;
    --cor-terciaria: #016795;
    --cor-quartenaria: #1E488F;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
}


.laboratorio {
    width: 100vw;
    background: url('../img/laboratorio-edit.jpg') center top no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 665px;
}

.fbody {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw !important;
}

.home-g1 h1 {
    font-size: 40px;
    margin: 5px 0px 3px 0px;
}

.home-g1 p {
    font-size: 15px;
    text-align: justify;
}

.cardHome {
    width: 90%;
    margin: auto;
}

.cardHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0px 30px 66px;
}


.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 525px;
    width: 100vw;
    text-align: center;
}

.cor {
    width: 100vw;
    height: 10vh;
    padding-top: 140px;
}

.cor h1 {
    margin-top: 106px;
    font-size: 4vw;
    color: white;
}

.cor button {
    width: 140px;
    height: 50px;
    color: white;
    margin-top: 60px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.infoProject4 {
    width: 100%;
    height: 310px;
    background: url(../img/meeting.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.infoProject4 {
    color: white;
}

.project4 {
    text-align: center;
    width: 96%;
    margin: auto;
}

.project4 {
    display: grid;
    grid-template-columns: 1fr;

    height: auto;
    list-style: none;
}

.CardVant {
    margin: 25px 10px;
    height: 260px;

    background-color: var(--cor-secundaria-rgba);
}

.CardVant h1 {
    margin-top: 90px;
}

.cardcontroltec img {
    width: 450px;
}

.cardcontroltec {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardcontroltec {
    margin: 100px 90px 90px 77px;
}

.controltec-g1 p {
    font-size: 17px;
    text-align: justify;
}

/*RESPONSIVIDADE*/
@media only screen and (max-width: 600px) {
    .laboratorio {
        height: 390px;
    }

    .laboratorio div {
        background: rgba(0, 0, 0, 0);
        text-align: center;
    }

    .cor h1 {
        margin-top: 30px;
        font-size: 5vw;
        text-shadow: 4px 1px black;
        color: #ffffff;
    }

    .cor button {
        margin-top: 30px;
    }

    .cardHome {
        display: grid;
        grid-template-columns: 1fr;
        margin: 55px;
    }

    .home-g1 {
        width: 80vw;
    }

    img.imgMind {
        width: 482px;
        margin-top: 20px;
    }

    .CardVant h1 {
        margin-top: 50px;
    }

    .cardcontroltec {
        margin: 40px 40px 80px 40px;
    }

    .cardcontroltec {
        display: grid;
        grid-template-columns: 1fr;
    }

    .controltec-g1 {
        margin-bottom: 25px;
    }

    .cardcontroltec img {
        width: 519px;
    }
}

@media only screen and (max-width: 768px) {
    .laboratorio {
        height: 390px;
    }

    .laboratorio div {
        background: rgba(0, 0, 0, 0);
        text-align: center;
    }

    .cor h1 {
        margin-top: 30px;
        font-size: 5vw;
        text-shadow: 4px 1px black;
        color: #ffffff;
    }

    .cor button {
        margin-top: 30px;
    }

    .cardHome {
        display: grid;
        grid-template-columns: 1fr;
        margin: 77px;
    }

    .home-g1 {
        width: 80vw;
    }

    img.imgMind {
        width: 615px;
        margin-top: 20px;
    }

    .CardVant h1 {
        margin-top: 50px;
    }

    .cardcontroltec {
        margin: 40px 40px 80px 40px;
    }

    .cardcontroltec {
        display: grid;
        grid-template-columns: 1fr;
    }

    .controltec-g1 {
        margin-bottom: 25px;
    }

    .cardcontroltec img {
        width: 680px;
    }
}

@media only screen and (max-width: 992px) {
    .laboratorio div {
        height: 522px;
    }

    .cor h1 {
        margin-top: 120px;
        font-size: 5vw;
    }

    .cor button {
        width: 165px;
        height: 65px;
        font-size: 25px;
    }

    .cardHome {
        display: grid;
        grid-template-columns: 1fr;
        margin: 100px;
    }

    .home-g1 {
        width: 80vw;
    }

    .home-g1 {
        width: 80vw;
    }

    img.imgMind {
        width: 80vw;
        margin-top: 20px;
    }

    .cardcontroltec {
        margin: 40px 40px 80px 40px;
    }

    .cardcontroltec {
        display: grid;
        grid-template-columns: 1fr;
    }

    .controltec-g1 {
        margin-bottom: 30px;
    }

    .cardcontroltec img {
        width: 680px;
        margin-left: 117px;
    }
}