:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #1B2431;
    --cor-secundaria-rgba: #1b2431b2;
    --cor-terciaria: #016795;
    --cor-quartenaria: #1E488F;
}

body, html {
    overflow-x: hidden;
    width: 100%;
}


.laboratorio {
    width: 100vw;
    background: url('../img/laboratorio.jpg') center top no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 665px;
}

.fbody {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw!important;
}

.home {
    width: 100vw;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 525px;
    width: 100vw;
    text-align: center;
}

.cor {
    width: 100vw;
    height: 10vh;
    padding-top: 140px;
}

.cor h1 {
    margin-top: 106px;
    font-size:4vw;
    color: white;
}

.cor button {
    width: 140px;
    height: 50px;
    color: white;
    margin-top: 60px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.home h1 {
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 0px 0px 10px 0px;
}
.home-g1 {
    display: flex;
    flex-direction: column;
}
.home-g1,
.cardcontroltec p {
    text-align: justify;
    width: 60%;
    margin: 0 auto;
}



.cardHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardcontroltec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.infoProject4 {
    width: 100%;
    height: 310px;
    background: url(../img/meeting.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.infoProject4 {
    color: white;
}

.project4 {
    text-align: center;
    width: 96%;
    margin: auto;
}

.project4 {
    display: grid;
    grid-template-columns: 1fr;

    height: auto;
    list-style: none;
}

.CardVant {
    margin: 25px 10px;
    height: 260px;

    background-color: var(--cor-secundaria-rgba);
}

.CardVant h1 {
    margin-top: 90px;
}

#controltec {
    margin-top: 40px;
}

.controltec-g1_img {
    display: flex;
    justify-content: center;
}

.controltec-g1_img img {
    margin: 30px 0;
}
.controltec-g1-txts {
    margin-bottom: 40px;
}

.cardcontroltec img {
    width: 515px;
}

/*RESPONSIVIDADE*/
/*.CONTROLTEC*/
@media  (max-width: 1260px) {
    
    .home {
        width: 100vw;

    }
    .home-g1 {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }
    .cor {
        width: 100vw;
        height: 5vh;
        padding-top: 140px;
    }
    .home-g1 img {
        margin: 30px 0;
        width: 70vw;
    }

    .controltec-g1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .controltec-g1_img {
        margin: 30px 0;
    }
    .controltec-g1_img img {
        width: 50vw;
    }


    .controltec-g1-txts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media  (max-width: 600px) {

    .laboratorio {
        width: 768px;
        height: 570px;
    }
    .laboratorio div {
        background: rgba(0, 0, 0, 0.637);
        height: 375px;
        width: 100%;
        text-align: center;
    }

    .cor h1 {
        font-size: 35px;
    }
    .cardHome {
        width: 100vw;
    }

    .infoProject4 {
        width: 100%;
        height: 70vh;
    }

    .infoProject4 h1 {
        height: 50vh;
    }

    p.bottom-home {
        margin-bottom: 25px;
    }

    .CardVant h1 {
        margin-top: 75px;
        font-size: 1.5em;
    }


    #controltec {
        margin-top: 40px;
    }


}