:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #1B2431;
    --cor-secundaria-rgba: #1b2431b2;
    --cor-terciaria: #016795;
    --cor-quartenaria: #1E488F;
}

body {
    overflow-x: hidden;
}


.laboratorio {
    width: 100%;
    background: url('../img/laboratorio.jpg') center top no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 665px;
}

.fbody {
    background-repeat: no-repeat;
    background-size: cover;
}

div#home {
    margin-bottom: 60px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 525px;
    width: 100%;
    text-align: center;
}

.cor {
    width: 100%;
    height: 630px;
    padding-top: 140px;
}

.cor h1 {
    margin-top: 106px;
    font-size: 51px;
    color: white;
}

.cor button {
    width: 140px;
    height: 50px;
    color: white;
    margin-top: 60px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

#home h1 {
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 0px 0px 10px 0px;
}

.home-g1,
.cardcontroltec p {
    text-align: justify;
}

.cardcontroltec p {
    margin-top: 15px;
}

.home-g1 img {
    margin-left: 15px;
}


.cardHome,
.cardcontroltec {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: auto;
    margin: 30px;
}

.infoProject4 {
    width: 100%;
    height: 310px;
    background: url(../img/meeting.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.infoProject4 {
    color: white;
}

.project4 {
    text-align: center;
    width: 96%;
    margin: auto;
}

.project4 {
    display: grid;
    grid-template-columns: 1fr;

    height: auto;
    list-style: none;
}

.CardVant {
    margin: 25px 10px;
    height: 260px;

    background-color: var(--cor-secundaria-rgba);
}

.CardVant h1 {
    margin-top: 90px;
}

#controltec {
    margin-top: 40px;
}

.cardcontroltec img {
    width: 515px;
}

/*RESPONSIVIDADE*/
/*.CONTROLTEC*/
@media only screen and (min-width: 600px) {
    .laboratorio {
        width: 768px;
        height: 570px;
    }

    .laboratorio div {
        background: rgba(0, 0, 0, 0.637);
        height: 375px;
        width: 100%;
        text-align: center;
    }

    .cor h1 {
        font-size: 35px;
    }

    .cardHome,
    .cardcontroltec {
        grid-template-columns: 1fr;
        margin: 25px 20px 20px 69px;
    }

    .infoProject4 {
        width: 765px;
    }

    p.bottom-home {
        margin-bottom: 25px;
    }

    .home-g1 img {
        margin-left: auto;
    }

    .CardVant h1 {
        margin-top: 75px;
        font-size: 29px;
    }

    #controltec {
        margin-top: 40px;
        margin: 20px 20px 20px 56px;
    }

    .cardcontroltec p {
        margin: 20px 20px 3px -48px;
        width: 620px;
    }
}