:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #232323;
    --cor-terciaria: #8080ffff;
    --cor-quartenaria: #0066ffff;
}

body{
    font-family: 'Montserrat', sans-serif;
}



.laboratorio {
    width: 100%;
    background: url('../Logos/Logo-DotControlTec.png') center top no-repeat;
    background-size: 45%;
    height: 380px;
    margin-top: 30px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 97%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.infoProject {
  width: 100%;
  height: 430px;
  padding-top: 200px;
  background: url(../img/escritorio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.project1{
    padding-top: 50px;
}

.project1 h1{
    color: white;
    font-size: 60px;
}

.infoProject2{
    width: 100%;
    height: 370px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.project2{
    width: 70%;
}

.project2 h1{
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #232323;
}

.project2 p{
    font-size: 23px;
    text-align: left;
    color: #232323;
}

.infoProject3{
    width: 100%;
    height: 430px;
    background-color: rgb(110, 130, 211);
    color: white;
    text-align: center;
    padding-top: 70px;
}

.infoProject3 ul{
    margin-top: 60px;
    display: flex;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.infoProject3 h1{
    font-size: 47px;
}

.infoProject3 i{
    font-size: 100px;
}

.infoProject3 li{
    width: 33%;
    text-align: center;
}

.infoProject3 h3{
    margin-top: 23px;
}

.infoProject3 p{
    margin-top: 20px;
    text-align: center;
    max-width: 33%;
    margin-left: 34%;
}

.infoProject4{
    width: 100%;
    height: 550px;
    background: url(../img/tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}