:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #232323;
    --cor-terciaria: #8080ffff;
    --cor-quartenaria: #0066ffff;
}
.container_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contato {
    width: 100%;
}

.contato iframe {
    width: 100%;
    height: 500px;
}

.contato .local span {
    color: var(--cor-principal);
}

.contato .local p {
    text-transform: uppercase;

    font-weight: bolder;
    font-size: 20px;

    text-align: center;
    margin-top: 10px;
}

form {
    background-color: rgba(136, 136, 136, 0.514);


    padding: 116px 64px;

    border-radius: 8px;
    width: 40%;
}

form h1 {
    font-size: 36px;

    text-align: center;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #ffffff;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    height: 0.5vh;

    border-radius: 8px;
}

form textarea {
    font-size: 16px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    margin: 10px;

    font-size: 15px;
    font-weight: bold;
}

form .field-group .field+.field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--cor-principal);
    border-radius: 8px;

    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;

    border: 0;
    margin-top: 40px;

    transition: 400ms;
    cursor: pointer;
}

form button:hover {
    background-color: var(--cor-quartenaria);
}