:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #232323;
    --cor-terciaria: #8080ffff;
    --cor-quartenaria: #0066ffff;
}

.laboratorio {
    width: 100%;
    background: url('../img/laboratorio.jpg') center top no-repeat;
    background-size: 100%;
    height: 550px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cor h1{
    position: center;
    box-shadow: 0 0 5em black;
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(253, 253, 253, 0.8);

}
.tituloMind6{
    margin-top: 100px;
    text-align: center;
    color: var(--cor-principal);
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
}
body{
    background: url(../img/fundo.jpg) top center no-repeat;
    background-size: cover;
}
#im1{
    transform: scaleX(1);
}
.carrosel div{
    margin-left: 2.5%;
    display: inline-block;
    width: 30%;
    height: 200px;
    
}
