
.container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: brightness(20%);
}

.box-login {
    height:  60vh;
    width: 40vw;
    border-radius: 8px;
    border: 3px solid var(--cor-quartenaria);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    animation-name: kick;
    animation-duration: 4s;
}

.box-login form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    justify-content: space-around;
}
.box-login form label {
    font-size: 25px;
}

.box-login form input {
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    border-color: var(--cor-quartenaria);
    border-radius: 4px;
    background-color: rgb(235, 251, 255);
    color: var(--cor-quartenaria);
}
.box-login form .div-btn {
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-around;
}

.box-login form .div-btn button {
    width: 10vw;
    height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    position: relative;
    transition-duration:.5s;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.box-login form .div-btn button::before {
    content: '';
    width: 10vw;
    height: 0;
    position: absolute;
    transition-duration: .5s;
    border-radius: 8px;
    z-index: -1;
    left: 0;
    top: 0;
    background: var(--cor-quartenaria);
}

.box-login form .div-btn button:hover {
    transform: scale(1.2);
}

.box-login form .div-btn button:hover::before {
    transition-duration: .5s;
    height: 5vh;
}

.box-login form .link-passwd {
    animation-name: aparecer;
    animation-duration: 4s;
    transition-duration: 1s;
    font-size: 1em;
}
.box-login form .link-passwd:hover {
    transform: scale(1.2) translateX(40px);
}

@keyframes kick {
    0% {
        opacity: 0%;
        transform: translateY(-70px);
    }
    40% {
        opacity: 0%;
        transform: translateY(-70px);
    }
    45% {
        opacity: 100%;
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    55% {
        transform: translateY(0);
    }
    60%{
        transform: translateY(-20px);
    }
    65% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-10);
    }
    85%{
        transform: translateY(0);
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
