:root {
    --cor-principal: #0f0fd8;
    --cor-secundaria: #232323;
    --cor-terciaria: #8080ffff;
    --cor-quartenaria: #0066ffff;
}

body {
    background: url(../img/fundo3.jpg) top center no-repeat;
    background-size: cover;
}

.laboratorio {
    width: 100%;
    background: url('../img/fundosobre.jpg') center top no-repeat;
    background-size: 100%;
    height: 370px;
}

.laboratorio div {
    background: rgba(0, 0, 0, 0.5);
    height: 97%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cor h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px black;
}

.info {
    /* margin: 0px 20px 0px 20px; */

    display: flex;

    justify-content: center;
    align-items: center;
}

.info .aboutUs {
    width: 85%;
    margin: 30px 0px 20px 0px;
}

.info .aboutUs h1 {
    color: black;
    text-transform: uppercase;

    font-weight: bolder;
    border-bottom: black solid 3px;

    margin-bottom: 15px;
}

.info .aboutUs p {
    font-weight: bolder;
    text-align: justify;

    margin-bottom: 7px;
    font-size: 20px;
}

.cardsTeam {
    text-align: center;
    width: 90%;
    margin: auto;
}

#Team h1.title {
    text-align: center;
    font-size: 48px;

    color: var(--cor-principal);
    margin: 20px auto 15px auto;
}

.cardsTeam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: auto;
}

.card {
    margin: 25px 10px;
    height: 365px;

    background-color: rgba(136, 136, 136, 0.514);
}

.card img {
    width: 55%;
    margin-top: 20px;
}

.card h1 {
    text-transform: uppercase;
    margin: 10px auto 10px auto;

    color: black;
}

.card p {
    font-weight: bolder;
}

.card a i {
    font-size: 35px;
    letter-spacing: 10px;

    margin-top: 5px;
}

.card .fa-instagram::before{
    color: var(--cor-principal);
}

.card .fa-linkedin-in::before{
    color: var(--cor-principal);
}

.card .fa-github::before{
    color: var(--cor-principal);
}