.machines {
    height: 200vh;
}

.machines__title {
    font-size: 4vw;
    margin: 30px 0px;
}

.machines__box-machines {
    height: 80vh;
    width: 60vw;

    background-color: white;

    border: 3px solid black;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;

    overflow-y: scroll;

    margin-bottom: 20px;
}

.machines__box-machines__machine {
    cursor: pointer;
    transition-duration: .2s;
    margin: 10px;
}

.machines__box-machines__machine:active {
    transform: scale(0.9);
}



.machine__btn-dash {
    transition-duration: .5s;

    background: #002060;
    background-color: #002060;

    border-radius: 6px;

    display: inline-block;

    cursor: pointer;

    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;

    padding: 6px 24px;
    margin-bottom: 20px;

    text-decoration: none;
}

.machine__btn-dash:hover {
    background: #0952e2;
}


.machines__box-machines__machine__icon {
    font-size: 100px;
}

.fa-desktop:before {
    margin-right: 20px;
}

/* Relatorios */

.machines__reports__selectors {
    height: 7vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.machines__reports__selectors__selector {
    height: 30px;
    width: 165px;

    border: 2px solid black;
    border-radius: 5px;
}

.machines__reports__title {
    font-size: 3em;
    text-align: center;
}

.machines__reports__box-reports {
    height: 80vh;
    width: 80%;

    background-color: white;

    margin: 20px;

    overflow-y: scroll;

    min-width: 300px;
}

.machines__reports__box-reports__table-reports {
    border-collapse: collapse;
    border-spacing: 5px;

    width: 100%;

    margin: 0 auto;
}

th {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0;
    width: 10px!important;
}

td,
th {
    padding: 8px;
    border: 2px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media (max-width: 868px) {
    .machines__reports__selectors {
        flex-direction: column;
        justify-content: space-around;
        height: 7vh;
    }
}